{% extends "base.html" %}

{% load static %}

{% block title %}Social app{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/social/find_friends.css' %}">
{% endblock %}

{% block content %}
    <div class="find-friends">
        <div class="section">
            <div class="section-title">
                <h1>Find friends</h1>
            </div>
            <div>
                {% for user in object_list %}
                    <div class="user">
                        <a href="{% url 'profile' user.id %}">
                            <h3>{{ user.username }}</h3>
                        </a>
                        {% if user.id not in following %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="followed_user" value="{{ user.id }}">
                                <button type="submit" class="btn btn-primary">Follow</button>
                            </form>
                        {% else %}
                            <p>Already following</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}