{% extends "base.html" %}

{% load static %}

{% block title %}Social app{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/social/followed_users.css' %}">
{% endblock %}

{% block content %}
    <div class="follow-page">
        <div class="section">
            <div class="section-title">
                <h1>Followers of {{ user.username }}</h1>
            </div>
            <div>
                {% for follower in followers %}
                    <div class="follower">
                        <a href="{% url 'profile' follower.follower_user.id %}">
                            <h3>{{ follower.follower_user.username }}</h3>
                        </a>
                    </div>
                {% empty %}
                    <li>No followers.</li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}