{% extends "base.html" %}

{% load static %}

{% block title %}Social app{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/social/post_edit.css' %}">
{% endblock %}

{% block content %}
    <div class="edit-page">
        <div class="section">
            <div class="section-title">
                <h1>Edit your post</h1>
            </div>
            <div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="group-section">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="group-section">
                        {{ form.text.label_tag }}
                        {{ form.text }}
                    </div>
                    <div class="group-section" id="picture-section">
                        {{ form.picture.label_tag }}
                        {% if form.picture.value %}
                            <img src="{{ form.picture.value.url }}" alt="Post picture">
                        {% endif %}
                        {{ form.picture }}
                    </div>
                    <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}