@import url("base_social.css");

.follow-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.follower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #d1d5db solid;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: #374151;
    font-weight: 500;
}