@import url("base_social.css");

.edit-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.edit-post-card {
    display: flex;
    flex-direction: column;
}

.group-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.group-section > img {
    align-self: start;
    margin-bottom: 1rem;
    border-radius: 1rem;
    max-width: 90%;
    max-height: 26rem;
}

.title {
    height: 1.25rem;
    margin-bottom: 1rem;
}

#picture-section {
    align-items: start;
}